@define-color background #FAF4ED;
@define-color surface0 #FFFAF0;
@define-color surface2 #E8DFD4;
@define-color text #5B5B5B;
@define-color red #C34165;
@define-color green #288043;
@define-color yellow #8A7400;
@define-color blue #1675AB;
@define-color violet #6A67B4;
@define-color teal #007E7D;
@define-color orange #AC591C;
@define-color pink #A352A0;

* {
  font-family:
    Monaspace Neon,
    OpenMoji Color,
    Symbols Nerd Font Mono;
  font-size: 11pt;

  border: none;
  border-radius: 0;
}

window#waybar {
  background-color: @background;
  color: @text;
}

#workspaces button {
  padding: 0 10px;
  margin: 0 2px;
  color: @text;
  background-color: transparent;
  border-bottom: 2px solid @violet;
}

#workspaces button:hover {
  background: @surface2;
}

#workspaces button.focused {
  background-color: @violet;
  color: @background;
}

#workspaces button.urgent {
  background-color: @red;
  color: @background;
}

#mode {
  padding: 0 10px;
  margin: 0 2px;
  background-color: @blue;
  color: @background;
}

#clock {
  padding: 0 10px;
  margin: 0 2px;
  border-bottom: 2px solid @blue;
}

#pulseaudio {
  padding: 0 10px;
  margin: 0 2px;
  border-bottom: 2px solid @green;
}

#pulseaudio.muted {
  padding: 0 10px;
  margin: 0 2px;
  border-bottom: 2px solid @red;
}

#tray {
  padding: 0 10px;
  margin: 0 2px;
  border-bottom: 2px solid @blue;
}

#custom-power {
  padding: 0 10px;
  margin: 0 2px;
  border-bottom: 2px solid @violet;
}
