@define-color red #DF8BA0;
@define-color yellow #C7B96F;
@define-color orange #C79A76;
@define-color green #75B087;
@define-color teal #5EB1AF;
@define-color blue #7AA8CE;
@define-color violet #A19DD4;
@define-color pink #C394C2;
@define-color text #A2A2A9;
@define-color textbright #F1ECE5;
@define-color subtext #878794;
@define-color overlay2 #7D7D7D;
@define-color overlay1 #808084;
@define-color overlay0 #84848C;
@define-color dimmed #7C7992;
@define-color surface2 #37363E;
@define-color surface1 #37363E;
@define-color background #191724;
@define-color surface0 #0B0A0F;

* {
  font-family:
    Monaspace Neon,
    OpenMoji Color,
    Symbols Nerd Font Mono;
  font-size: 11pt;
  font-weight: 600;
}

window#waybar {
  background-color: transparent;
  color: @textbright;
  border: none;
  border-radius: 0;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

#workspaces button.focused,
#workspaces button.active {
  border-top: 2px solid @violet;
}

#workspaces button.urgent {
  background-color: @red;
  color: @background;
}

#mode {
  background-color: @blue;
  color: @background;
}

#backlight,
#battery,
#bluetooth,
#clock,
#cpu,
#custom-media,
#custom-power,
#disk,
#idle_inhibitor,
#memory,
#mode,
#mpd,
#network,
#power-profiles-daemon,
#pulseaudio,
#scratchpad,
#temperature,
#tray,
#wireplumber,
#workspaces button {
  padding: 0 10px;
  margin: 0 2px;
}

/* Clickable: */
#bluetooth:hover,
#custom-power:hover,
#idle_inhibitor:hover,
#network:hover,
#pulseaudio:hover,
#workspaces button:hover {}

tooltip {
  background-color: @surface0;
  color: @text;
  border: 1px solid @violet;
  border-radius: 0;
  padding: 8px;
  box-shadow: none;
}

tooltip * {
  color: @text;
  box-shadow: none;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
  margin-right: 0;
}

#battery.charging,
#battery.plugged {
  background-color: @green;
  color: @background;
}

@keyframes blink {
  to {
    color: @background;
    background-color: @text;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: @red;
  color: @background;
}

#power-profiles-daemon {
  padding-right: 15px;
}

#power-profiles-daemon.performance {
  background-color: @red;
  color: @background;
}

#power-profiles-daemon.balanced {
  background-color: @blue;
  color: @background;
}

#power-profiles-daemon.power-saver {
  background-color: @green;
  color: @background;
}

label:focus {
  background-color: @background;
}

#network.disconnected {
  background-color: @red;
  color: @background;
}

#pulseaudio.muted {
  background-color: @orange;
  color: @background;
}

#wireplumber.muted {
  background-color: @orange;
  color: @background;
}

#custom-media {
  min-width: 100px;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
  color: @background;
}

#idle_inhibitor.activated {
  background-color: @orange;
  color: @background;
}

#mpd.disconnected {
  background-color: @red;
  color: @background;
}

#mpd.paused {
  background-color: @green;
  color: @background;
}

#language {
  min-width: 16px;
}

#keyboard-state {
  min-width: 16px;
}

#keyboard-state>label {
  padding: 0 5px;
}

#privacy {
  padding: 0;
}

#privacy-item {
  padding: 0 5px;
}

#privacy-item.screenshare {
  background-color: @orange;
  color: @background;
}

#privacy-item.audio-in {
  background-color: @green;
  color: @background;
}

#privacy-item.audio-out {
  background-color: @blue;
  color: @background;
}
