configuration {
  display-drun: "  ";
  display-run: "  ";
  display-window: "  ";
  display-ssh: "  ";
  drun-display-format: "{name}";
  show-icons: false;
  font: "DejaVuSansMono Nerd Font 12";
  case-sensitive: false;
  modi: "window,run,drun";
  fixed-num-lines: false;
  lines: 15;
  location: 2;
  yoffset: 150;
}
