configuration {
  display-drun: " ";
  display-run: " ";
  display-window: " ";
  display-ssh: " ";
  drun-display-format: "{name}";
  show-icons: true;
  font: "Roboto 16";
  case-sensitive: false;
  fixed-num-lines: false;
  location: 2;
  yoffset: 150;
}

@import "nord"
