* {
  background-color: #2e3440;
  border-color: #5e81ac;
  text-color: #d8dee9;
  spacing: 0;
  width: 1000px;
}

inputbar {
  border: 0;
  children: [prompt,entry];
}

prompt {
  padding: 16px 0 16px 16px;
  border: 0;
  background-color: #88c0d0;
  color: #2e3440;
}

entry {
  padding: 16px 0 16px 0;
  background-color: #88c0d0;
  color: #2e3440;
}

listview {
  cycle: false;
  scrollbar: false;
}

element {
  border: 0;
  padding: 16px;
}

element selected {
  color: #88c0d0;
}
