[include]
  path = ~/.gitconfigemail
[user]
  name = Martin Schenck
[core]
  pager = delta
[alias]
  o = switch
  e = restore
  c = commit
  a = add -A
  s = status
  b = branch
  bd = branch -d
  l = log --pretty=short --max-count=10
  d = diff
  ds = diff --staged
  r = rebase
  p = pull -p
  h = push
[pull]
  rebase = false
[delta]
  syntax-theme = Nord
  line-numbers = true
[init]
  defaultBranch = main
[github]
	user = schemar
