[include]
  path = ~/.gitconfigemail
[user]
  name = Martin Schenck
[core]
  pager = delta
[alias]
  a = add -A
  b = branch
  bd = branch -d
  c = commit
  d = diff
  ds = diff --staged
  e = restore
  h = push
  l = log --pretty=short --max-count=10
  n = clean -fd src
  o = switch
  p = pull -p
  r = rebase
  s = status
[pull]
  rebase = false
[delta]
  light = true
  line-numbers = true
  minus-style                   = syntax "#dfccd4"
  minus-non-emph-style          = syntax "#dfccd4"
  minus-emph-style              = syntax "#d99ea2"
  minus-empty-line-marker-style = syntax "#dfccd4"
  line-numbers-minus-style      = "#c25d64"
  plus-style                    = syntax "#aecde6"
  plus-non-emph-style           = syntax "#aecde6"
  plus-emph-style               = syntax "#57a7bc"
  plus-empty-line-marker-style  = syntax "#aecde6"
  line-numbers-plus-style       = "#399a96"
  line-numbers-zero-style       = "#a8aecb"
[init]
  defaultBranch = main
[merge]
  tool = nvimdiff
[mergetool]
  keepBackup = false
[github]
	user = schemar
