[include]
  path = ~/.gitconfigemail
[user]
  name = Martin Schenck
[core]
  pager = delta
[alias]
  a = add -A
  b = branch
  bd = branch -d
  c = commit
  d = diff
  ds = diff --staged
  e = restore
  h = push
  l = log --pretty=short --max-count=10
  n = clean -fd src
  o = switch
  p = pull -p
  r = rebase
  s = status
[pull]
  rebase = false
[delta]
  syntax-theme = Catppuccin Latte
  line-numbers = true
[init]
  defaultBranch = main
[merge]
  tool = nvimdiff
[mergetool]
  keepBackup = false
[github]
  user = schemar
[log]
  follow = true
