* {
    border: none;
    border-radius: 0;
    font-family: DejaVuSansMono Nerd Font;
    font-size: 10pt;
    min-height: 0;
}

window#waybar {
    background: #3b4252;
    border: 0;
    color: #d8dee9;
}

#workspaces button {
    padding: 0 10px;
    background: transparent;
    border-right: 1px solid #4c566a;
}

#workspaces button.focused {
    background: #434c5e;
    border-right: 1px solid #4c566a;
}

#mode {
    padding: 0 10pt;
}

#idle_inhibitor, #battery, #network, #cpu, #memory, #backlight, #pulseaudio {
    padding: 0 10pt 0 5pt;
    margin: 0;
    border-left: 1px solid #4c566a;
}

#clock {
    padding: 0 5pt 0 5pt;
    margin: 0;
    border-left: 1px solid #4c566a;
}

#mode {
    background: #d08770;
}

#clock {
}

#battery {
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
