- hosts: localhost
  become: true
  vars_prompt:
    - name: username
      prompt: Username 
      private: no
    - name: dotfiles_dir
      prompt: Dotfiles directory (e.g. /home/schemar/Projects/dotfiles without trailing slash)
      private: no
  tasks:
  - name: Enable COPRs
    community.general.copr:
      state=enabled
      name={{item}}
    with_items:
      - atim/kakoune
      - atim/bottom
    tags: packages
  - name: Enable RPM Fusion
    shell: dnf install -y "https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-$(rpm -E %fedora).noarch.rpm" "https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm"
    args:
      warn: no
    tags: packages
  - name: Install packages
    package:
      name={{item}}
      state=latest
    with_items:
      - acpi
      - arandr
      - arc-theme
      - bat
      - blueman
      - bottom
      - brightnessctl
      - curl
      - dex-autostart
      - direnv
      - dunst
      - evince
      - evince-previewer
      - exa
      - fd-find
      - feh
      - fzf
      - geoclue2
      - git-delta
      - gnome-keyring
      - i3
      - i3lock
      - i3status
      - ImageMagick
      - iw
      - jq
      - kak-lsp
      - kakoune
      - kitty
      - libsecret
      - lxappearance
      - maim
      - NetworkManager
      - NetworkManager-openvpn
      - NetworkManager-tui
      - network-manager-applet
      - nodejs
      - openvpn
      - papirus-icon-theme
      - pavucontrol
      - pdfarranger
      - picom
      - polybar
      - procs
      - python
      - python3-tkinter
      - qt5-qtwebengine-freeworld
      - qutebrowser
      - ranger
      - redshift
      - redshift-gtk
      - ripgrep
      - roboto-fontface-fonts
      - rofi
      - seahorse
      - tealdeer
      - thunar
      - tig
      - tmux
      - xautolock
      - xbacklight
      - xclip
      - xdotool
      - xinput
      - xmodmap
      - xrdb
      - xset
      - zoxide
      - zsh
    tags: packages
  - name: Ensure redshift has access to geoclue
    blockinfile:
      path: /etc/geoclue/geoclue.conf
      block: |
        [redshift]
        allowed=true
        system=false
        users=
  - name: Clone autorandr
    become: "{{username}}"
    git:
      repo: "https://github.com/phillipberndt/autorandr.git"
      dest: "/home/{{username}}/.autorandr"
    tags: packages
  - name: Install autorandr
    community.general.make:
      chdir: /home/{{username}}/.autorandr
      target: install
    tags: packages
  - name: Enable and start autorandr service
    systemd:
      name: autorandr
      state: started
      enabled: yes
    tags: packages
  - name: Download broot
    get_url:
      url: https://dystroy.org/broot/download/x86_64-linux/broot
      dest: /usr/local/bin/broot
    tags: packages
  - name: Make broot executable
    file:
      path: /usr/local/bin/broot
      mode: '+x'
    tags: packages
  - name: Run broot setup
    become: "{{username}}"
    shell: broot --install
    tags: packages
  - name: Install npm packages globally
    community.general.npm:
      name: "{{item}}"
      global: yes
    with_items:
      - "@bitwarden/cli"
      - "typescript"
      - "typescript-language-server"
      - "eslint-formatter-kakoune"
    tags: packages
  - name: Install pip packages globally
    pip:
      name: ['tldextract', 'rofimoji']
    tags:
      - packages
      - pip
  - name: Add the flathub flatpak repository
    community.general.flatpak_remote:
      name: flathub
      flatpakrepo_url: https://flathub.org/repo/flathub.flatpakrepo
    tags:
      - packages
      - flatpak
  - name: Install flat packages
    community.general.flatpak:
      name: "{{item}}"
    with_items:
      - com.spotify.Client
      - com.discordapp.Discord
      - md.obsidian.Obsidian
    tags:
      - packages
      - flatpak
  - name: Make qutebrowser the default
    become: "{{username}}"
    command: xdg-settings set default-web-browser org.qutebrowser.qutebrowser.desktop
    tags: packages
  - name: Setup user account
    user:
      name: "{{username}}"
      shell: /usr/bin/zsh
      generate_ssh_key: yes
  - name: Install oh-my-zsh
    become: "{{username}}"
    git:
      repo: "https://github.com/ohmyzsh/ohmyzsh.git"
      dest: "/home/{{username}}/.oh-my-zsh"
      depth: 1
  - name: Delete i3 config dir to be able to symlink
    file:
      path: "/home/{{username}}/.config/i3"
      state: absent
    tags: symlinks
  - name: Ensure symlink target dirs exist
    file:
      path: "/home/{{username}}/.config/{{item}}"
    with_items:
      - qutebrowser
    tags: symlinks
  - name: Set up symlinks of dotfiles
    become: "{{username}}"
    file:
      src: "{{dotfiles_dir}}/configs/{{item.src}}"
      dest: "/home/{{username}}/{{item.dest}}"
      state: link
    loop:
      - { src: "asdf/.asdfrc", dest: ".asdfrc" }
      - { src: "bat", dest: ".config/bat" }
      - { src: "broot", dest: ".config/broot" }
      - { src: "dunst", dest: ".config/dunst" }
      - { src: "fzf/.fzf.zsh", dest: ".fzf.zsh" }
      - { src: "git/.gitconfig", dest: ".gitconfig" }
      - { src: "i3blocks", dest: ".config/i3blocks" }
      - { src: "i3", dest: ".config/i3" }
      - { src: "kak", dest: ".config/kak" }
      - { src: "kak-lsp", dest: ".config/kak-lsp" }
      - { src: "kitty", dest: ".config/kitty" }
      - { src: "kmonad", dest: ".config/kmonad" }
      - { src: "nvim", dest: ".config/nvim" }
      - { src: "picom", dest: ".config/picom" }
      - { src: "polybar", dest: ".config/polybar" }
      - { src: "qutebrowser/autoconfig.yml", dest: ".config/qutebrowser/autoconfig.yml" }
      - { src: "qutebrowser/config.py", dest: ".config/qutebrowser/config.py" }
      - { src: "qutebrowser/nord.py", dest: ".config/qutebrowser/nord.py" }
      - { src: "qutebrowser/userscripts", dest: ".config/qutebrowser/userscripts" }
      - { src: "ranger", dest: ".config/ranger" }
      - { src: "rofi", dest: ".config/rofi" }
      - { src: "starship/starship.toml", dest: ".config/starship.toml" }
      - { src: "tmux/.tmux.conf", dest: ".tmux.conf" }
      - { src: "vim/.vimrc", dest: ".vimrc" }
      - { src: "zsh/.zshrc", dest: ".zshrc" }
    tags: symlinks
  - name: Symlinkg kakounes original autoload file
    become: "{{username}}"
    file:
      src: "/usr/share/kak/autoload"
      dest: "{{dotfiles_dir}}/configs/kak/autoload/autoload"
      state: link
    tags: symlinks
  - name: Create kakoune plugin dir
    become: "{{username}}"
    file:
      path: "/home/{{username}}/.config/kak/plugins"
      state: directory
    tags: plugins
  - name: Download kakoune plugin manager
    become: "{{username}}"
    git:
      repo: "git@github.com:andreyorst/plug.kak.git"
      dest: "/home/{{username}}/.config/kak/plugins/plug.kak"
    tags: plugins
  - name: Create tmux plugin dir
    become: "{{username}}"
    file:
      path: "/home/{{username}}/.config/tmux/plugins"
      state: directory
    tags: plugins
  - name: Download tmux plugin manager
    become: "{{username}}"
    git:
      repo: "https://github.com/tmux-plugins/tpm.git"
      dest: "/home/{{username}}/.config/tmux/plugins/tpm"
    tags: plugins
  - name: Make sure fonts directory exists
    file:
      path: /usr/share/fonts/{{item}}
      state: directory
    with_items:
      - "nerd-fonts"
      - vscode
    tags: fonts
  - name: Download nerd fonts
    get_url:
      url: "{{item.url}}"
      dest: "/usr/share/fonts/nerd-fonts/{{item.name}}"
    loop:
      - { url: "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/DejaVuSansMono/Regular/complete/DejaVu%20Sans%20Mono%20Nerd%20Font%20Complete%20Mono.ttf", name: "DejaVu_Sans_Mono_Nerd_Font_Mono_Book.ttf" }
      - { url: "https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/DejaVuSansMono/Bold/complete/DejaVu%20Sans%20Mono%20Bold%20Nerd%20Font%20Complete%20Mono.ttf", name: "DejaVu_Sans_Mono_Nerd_Font_Mono_Bold.ttf" }
    tags: fonts
  - name: Download vscode font
    get_url:
      url: "https://github.com/Canop/broot/raw/master/resources/icons/vscode/vscode.ttf"
      dest: "/usr/share/fonts/vscode/vscode.ttf"
    tags: fonts
  - name: Reload fonts cache
    become: "{{username}}"
    command: fc-cache -f /usr/share/fonts
    tags: fonts
